$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

p{
  color: red;
}

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}


.box {
  @include pc {
    background-color: red;

    p {
      font-size: 15px;
    }
  };
  @include tab {
    background-color: blue;
  };
  @include sp {
    background-color: yellow;
  };

  p {
    font-size: 12px;
  }
}