$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.main_image_area{
  margin-bottom: 50px;
}

.create_page{
  width: 750px;
  margin: 0 auto;

  h2{
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    margin: 50px 0 10px;
  }
}


.container {
    margin-top: 100px;
    margin-bottom: 100px
}

.carousel-inner img {
    width: 100%;
    height: 100%
}

#custCarousel .carousel-indicators {
    position: static;
    margin-top: 20px
}

#custCarousel .carousel-indicators>li {
    width: 100px
}

#custCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
    opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
    opacity: 0.75
}

.carousel-item img {
  width: 750px;
  height: auto;
}

.list-inline-item {
  img{
    width: 100px;
    height: 67px;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-size: 43px;
  position: relative;
  right: 100px;

  &.carousel-control-next-icon{
   left: 100px;
  }
}

.car_info_back{
  h2 {
    font-size: 1.5rem;
  }
}

.share_price{
  background-color: #f5f5f5;
  margin: 36px;

  .card{
    width: 230px;
    border-radius: 15px;
    position: fixed;
    bottom: 20px;
    right: 110px;
    z-index: 10;
  }

  .price{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px 0;

    span.yen{
      font-size: 0.9rem;
    }
  }

  a.btn-main {
    border-radius: 8px;
    width: 147px;
    font-size: 1rem;
    padding: 10px;
    background: #2bbbad;
    width: 100%;
    color: #fff;
  }
}


.profile_contents{
  h2, p{
    font-family: Rubik, -apple-system, "Hiragino Sans", "Hiragino Kaku Gothic ProN", BlinkMacSystemFont, YuGothic, "Yu Gothic", sans-serif;
    line-height: 2.0;
    font-size: 1.5rem;
    text-align: left;
  }
  p, li{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    margin: 30px 0;
  }
}

.car_pr{
  img{
    width: 750px;
    text-align: center;
  }
}

.sns_back{
  display: inline-block;
  float: left;

  .sns_icons{
    font-size: 2rem;
    width: 0px;
    display: inline-block;
    float: left;
    position: relative;
    left: -80px;
    top: 45px;
  }
}
