$pc: 1024px; // PC
$tab: 680px; // タブレット
$sp: 480px;  // スマホ

p{
  color: blue;
}


@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

body {
  height: 600px;
  background: #eee;
  font-family: Rubik, "Noto Sans JP", sans-serif;
  background-color: #eee!important;
}

header {
  background-color: #fff;

  .header-inner{
    width: 900px;
    padding: 20px;
    margin: 0 auto;

    .logo_area, .profile_page{
      display: inline-block;
      float: left;
    }

    .logo_area{
      font-size: 1.4rem;
      font-weight: 600;

      a{
        color: #000;
      }
    }

    .profile_page{
      float: right;

      a{
        display: block;
        padding: 5px 12px;
        background-color: #329eff;
        color: #fff;
        border-radius: 5px;
      }
    }
  }
}

.carousel-item img{
  width: 860px;
  margin: 50px auto;
  border-radius: 15px;
  height: 400px;
  object-fit: cover;
}

.carousel-control-next, .carousel-control-prev {
  width: 52% !important;
}

.car-line-up{
  width: 500px;
  margin: 30px auto!important;

  ul {
    width: 500px;
    text-align: center;

    li{
      width: 33.333%;
    }
  }

  a{
    color: #abb4bd;
  }

  .md-pills .nav-link.active {
    color: #333;
    border-bottom: 2px solid #333;
    background-color: unset!important;
  }
}

  .post-car {
    position: relative;
    top: 0;
    right: 0;

    a.btn--circle {
      border-radius: 50%;
      line-height: 100px;
      width: 100px;
      height: 100px;
      padding: 0;
      -webkit-box-shadow: 0 5px 0 #26a69a;
      box-shadow: 0 5px 0 #26a69a;
      background: #30cfc0;
      color: #fff;
      font-size: 1.2rem;
    }

    a.btn--circle:hover {
      -webkit-transform: translate(0, 3px);
      transform: translate(0, 3px);
      -webkit-box-shadow: 0 2px 0 #26a69a;
      box-shadow: 0 2px 0 #26a69a;
    }

    a.user-post{
      position: fixed;
      bottom: 20px;
      right: 110px;
      z-index: 10;
    }

    .fa, .fas {
      font-size: 2.5rem;
      position: relative;
      top: 9px;
    }
  }

  .car-post{
    .car-article{
      width: 900px;
    }
  }

  .card-size {
    img{
      width: 270px;
      height: 180px;
      object-fit: cover;
      padding: 15px;
    }
    &.card-change-size{
      width: 160px;
      height: 150px;

      img{
        width: 160px;
      }
    }
  }

  .car_recommend_article {
    background: #bbdefb;
    padding: 60px;

    .recommend_back_size{
      width: 900px;
      margin: 0 auto;
      text-align: left;

      h2{
        margin-left: 10px;
      }
      hr{
        text-align: left;
        display: block;
        margin-left: 10px;
      }
    }

    ul.horizontal-list {
      overflow-x: auto;
      white-space: nowrap;
      padding-left: calc(50% - 451px);
      margin: 0;
    }

    li.item {
      display: inline-block;
      margin: 14px;
    }

    a.card{
      margin: 0!important;
    }

    .tab-pane{
      width: 900px;
      margin: 20px auto;
    }

    .back_size {
      width: 900px;
      margin: 30px auto 0;

      .more_button {
        margin: 0 20px;

        button {
          background: #333;
          color: #fff;
          border-radius: 50px;
          font-size: 1rem;
        }
      }
    }
  }

  .change_back_color {
    background: #eee;
  }

  vertical_height2{
    width: 100%;
    margin: 20px auto;
    padding: 60px 0;
  }

footer.page-footer{
  button{
    border-radius: 8px;
    width: 147px;
    font-size: 1rem;
    padding: 10px;

    &.btn-main{
      background: #329eff;
    }
    &.btn-sub{
      background: #565656;
    }
  }

  .footer_area{
    width: 900px;
    margin: 50px auto 80px;

    .footer_logo{
      text-align: center;

      img {
        width: 100px;
      }
      p{
        font-size: 57px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 0.01em;
        font-family: Noto Sans JP;
      }
      ul{
        margin-bottom: 70px!important;
      }
    }
  }
}

footer .footer-copyright{
  border-top: solid 2px rgba(255,255,255,0.2);
}