{% extends 'app/base.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
  <link rel="stylesheet" href="{% sass_src 'css/create_profile.css' %}">
{% endblock customcss %}

{% block content %}

<div class="profile_back">
  <div class="create_page">
    <h2>Let's Start</h2>
    <div class="profile_card">
      <div class="profile_contents">
        <div class="container my-5">
          <style>
            .border-top {
              border-top: 5px solid #33b5e5 !important;
              border-top-left-radius: .25rem!important;
              border-top-right-radius: .25rem!important;
            }
          </style>
          <!--Section: Content-->
          <section class="text-center dark-grey-text mb-5 profile_card">
            <div class="card">
              <div class="card-body rounded-top border-top p-5">
                <div class="image_icon">
                  <img src="https://d20r2glx6euv0l.cloudfront.net/avatar/6ebeed36dc.jpeg">
                </div>
                <!-- Section heading -->
                <h3 class="font-weight-bold my-4">Hello User</h3>
                <!-- Section description -->
                <form class="mb-4 mx-md-5" action="">
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <!-- Name -->
                      <input type="text" id="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="col-md-6 mb-4">
                      <!-- Email -->
                      <input type="email" id="email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <!-- Subject -->
                      <input type="text" id="subject" class="form-control" placeholder="Subject">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group mb-4">
                        <textarea class="form-control rounded" id="message" rows="3" placeholder="How can we help?"></textarea>
                      </div>
                      <div class="text-center">
                        <button type="submit" class="btn">この内容ではじめる</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <!--Section: Content-->

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}