{% extends 'app/base.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
  <link rel="stylesheet" href="{% sass_src 'css/post.css' %}">
{% endblock customcss %}

{% block content %}

<div class="profile_back">
  <div class="create_page">
    <h2>Let's Ride</h2>
    <div class="profile_card">
      <div class="profile_contents">
        <div class="post_container">

          <!-- SNSアイコン -->
          <div class="sns_back clearfix">
            <div style="font-size: 2rem;" class="sns_icons">
              <div><i class="fab fa-facebook-f fa-fw blue-text"></i></div>
              <div><i class="fab fa-twitter fa-fw blue-text"></i></div>
              <div><i class="fab fa-instagram fa-fw pink-text"></i></div>
              <div><i class="fab fa-linkedin fa-fw blue-text"></i></div>
              <div><i class="fab fa-pinterest fa-fw red-text"></i></div>
            </div>
          </div>
          <!-- SNSアイコン -->

          <div class="row main_image_area">
            <div class="col-md-12">
              <div id="custCarousel" class="carousel slide" data-ride="carousel" align="center">
                <!-- slides -->
                <div class="carousel-inner">
                    <div class="carousel-item active"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fFxuGkyQ4Ptks6YZFZlxa4nFK-p6MiJqzBZw2xKBy5xapGGJ3wVNKpr8EZg9Og1ygvhTbW_fhaLBTck4pb48gAg5I8FLqeoJrIudbkGrWsg1V94ZY2CrbpJ2vs9oHbfNREoecvsk42en5VNVaHbIuV=w1880-h1410-no?authuser=0"> </div>
                    <div class="carousel-item"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fTv4VZI0rjLUvkqhvgNV9IYHAHdLPXuwnBmNSuk1hY9DqdGWwL0sh-fcTjhn8m9Vte1R35Z9yvE1CX0FTt9ancMw3NWJwgMJHpyzBYkhPmw_2l-67WI9ihdQXyBXAgTimz1PpllqcUi4afc4P5SSjM=w1880-h1410-no?authuser=0"> </div>
                    <div class="carousel-item"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3f_Jr_LcNoEUg9jgCYIJBQ8yVMf5h3jCYnYyBnu3N_9An7I3EMtQgxXZoKgaWG_VaSE-gjyn9IKIojPbfH8omS8xmiAn9Xpd4bZSdhrAsM3imYcWUfBBYmTz9CQukfhiSPhTjVLgfronRsXTXi4kWGC=w1880-h1410-no?authuser=0"> </div>
                    <div class="carousel-item"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fcS4fX1FG55xLgw55LvePc5CpqLW1HN5ruL3Awcu8mvRCq-YuJ0E4pnzgTJ5reJ1FOmtYtQ6RaXrcS6LjvOhySGSu-cuipRO5sqrJbnFq_cnbh4ZHb1vXCEFJl71ilcct9oDCe6DjngIY40x5DSsjA=w1880-h1410-no?authuser=0"> </div>
                </div> <!-- Left right --> <a class="carousel-control-prev" href="#custCarousel" data-slide="prev"> <span class="carousel-control-prev-icon"></span> </a> <a class="carousel-control-next" href="#custCarousel" data-slide="next"> <span class="carousel-control-next-icon"></span> </a> <!-- Thumbnails -->
                <ol class="carousel-indicators list-inline">
                    <li class="list-inline-item active"> <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#custCarousel"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fFxuGkyQ4Ptks6YZFZlxa4nFK-p6MiJqzBZw2xKBy5xapGGJ3wVNKpr8EZg9Og1ygvhTbW_fhaLBTck4pb48gAg5I8FLqeoJrIudbkGrWsg1V94ZY2CrbpJ2vs9oHbfNREoecvsk42en5VNVaHbIuV=w1880-h1410-no?authuser=0" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-1" data-slide-to="1" data-target="#custCarousel"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fTv4VZI0rjLUvkqhvgNV9IYHAHdLPXuwnBmNSuk1hY9DqdGWwL0sh-fcTjhn8m9Vte1R35Z9yvE1CX0FTt9ancMw3NWJwgMJHpyzBYkhPmw_2l-67WI9ihdQXyBXAgTimz1PpllqcUi4afc4P5SSjM=w1880-h1410-no?authuser=0" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="2" data-target="#custCarousel"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3f_Jr_LcNoEUg9jgCYIJBQ8yVMf5h3jCYnYyBnu3N_9An7I3EMtQgxXZoKgaWG_VaSE-gjyn9IKIojPbfH8omS8xmiAn9Xpd4bZSdhrAsM3imYcWUfBBYmTz9CQukfhiSPhTjVLgfronRsXTXi4kWGC=w1880-h1410-no?authuser=0" class="img-fluid"> </a> </li>
                    <li class="list-inline-item"> <a id="carousel-selector-2" data-slide-to="3" data-target="#custCarousel"> <img src="https://lh3.googleusercontent.com/pw/ACtC-3fcS4fX1FG55xLgw55LvePc5CpqLW1HN5ruL3Awcu8mvRCq-YuJ0E4pnzgTJ5reJ1FOmtYtQ6RaXrcS6LjvOhySGSu-cuipRO5sqrJbnFq_cnbh4ZHb1vXCEFJl71ilcct9oDCe6DjngIY40x5DSsjA=w1880-h1410-no?authuser=0" class="img-fluid"> </a> </li>
                </ol>
              </div>
            </div>
          </div>

          <div class="car_pr">
              <h2>フィット基本情報！</h2>
              <ul>
                <li>満タン時の走行距離：20km</li>
                <li>駆動方式：2WD</li>
                <li>色：ホワイト</li>
                <li>エンジン：ガゾリン</li>
                <li>定員数：5名</li>
              </ul>
          </div>

          <div class="car_pr">
              <h2>お気に入りのポイント！</h2>
              <img src="https://lh3.googleusercontent.com/pw/ACtC-3dfmA4TDrOrcfUJcsoT31J0_2429e-AZfu0Y3FWTIxuMdER2JGB6J6NsUf_fhwBzDTsEZmT_qqBcHdgyvzw9EWaPTaUchZ32UVw0ls7weCX2zlghD2jWD8NKD8r0XaAh489qTe4VRI7SX35EYzzHO42=w1880-h1410-no?authuser=0">
              <ul>
                <li>24h貸し出しOK</li>
                <li>アメニティ・設備が豊富</li>
                <li>クルーズコントロールでエコ運転</li>
                <li>走行中が静かで快適</li>
                <li>通勤や旅行に最適</li>
              </ul>
          </div>

          <div class="car_pr">
              <h2>快適で綺麗なシートです！</h2>
              <img src="https://lh3.googleusercontent.com/pw/ACtC-3ciLsMghe1GUQKiE-3pTLidFUTuP_dWCme8SYImn0VRmAhS8dp2P1q9hU7qAYcAm6ruAN_bl_wHmJ8i8Mkbxn9Ee9XPhPU9jVq0NNQCzETwVGBdMVI9_cVu4-ojxqxmmtSKF_M-DEIBBk4FIhKupo8h=w1880-h1410-no?authuser=0">
              <p>まだ買ったばかりなので、かなり綺麗な方だと思います。運転席は結構広いのでひざを伸ばしても座ることができますよ。</p>
          </div>
          <div class="car_pr">
              <h2>天井が高くて広く感じます</h2>
              <img src="https://lh3.googleusercontent.com/pw/ACtC-3do7NkVI_QyFcymC3D7trOF4fEi5xKE-0CDBXi6U9wPx0ZO-AST7FBeyd6YsXnM6qboBFOsFWL5Qwvel5FYDvqEa3XFjN2KemrThK6cdWk21zdfpxvODa1054uLa2TId3FEylPUHDqD5xN8slhKKVxk=w1880-h1410-no?authuser=0">
              <p>普段は主人が使っているので助手席に座っていますが、長距離でドライブにいくときなどもあまり疲れないです。</p>
          </div>
          <div class="car_pr">
              <h2>荷物もかなり入ります！</h2>
              <img src="https://lh3.googleusercontent.com/pw/ACtC-3de3_BtG2nFngd5HA_iKz3YcOWD1DC6zi-DdKEFUUi3K-Md4wzcKjSZVR5FRKuUQpIF-CLCeOSq-co6IYg2KVz72uHdevlSNBqiKMXkXAKbE0k4-_xEP5bQeyfUGIvRhL0ViR48a52zHX9YMh3YUR6J=w1058-h1410-no?authuser=0">
              <p>こんな感じで結構広いのでゴルフバックなら3つほど入るような感じです。</p>
          </div>
        </div>
      </div>

      <div class="profile">
        <div class="icon">
          <img src="https://d20r2glx6euv0l.cloudfront.net/avatar/6ebeed36dc.jpeg">
        </div>
        <div class="pr_profile">
          <p class="prof_name">長谷川 大輔</p>
          <p>車好きの中でも車を愛している方です！いつも車内を綺麗に掃除するのが日課になってます。笑
          ぜひ、僕の愛車で旅行などを楽しんでもらえたら嬉しいです！ご質問あれば連絡ください。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="share_price">
  <!-- Card -->
  <div class="card">
    <!-- Card image -->
    <!-- Card content -->
    <div class="card-body">
      <!-- Title -->
      <div class="price">8,700<span class="yen"> 円/(月額)</span></div>
      <!-- Text -->
      <p class="card-text">24h以内に指定の場所に返却してください。</p>
      <!-- Button -->
      <a href="#" class="btn btn-main">予約する</a>
    </div>
  </div>
  <!-- Card -->
</div>


<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">
  <!-- Footer Elements -->
  <div class="footer_area">
    <div class="footer_logo">
      <img src="{% static 'app/car-logo.png' %}">
      <p>Car Select</p>
    </div>
    <!-- Call to action -->
    <ul class="list-unstyled list-inline text-center py-2">
      <li class="list-inline-item">
        <a href="{% url 'app:create_profile' %}"><button type="button" class="btn btn-main">はじめる</button></a>
      </li>
      <li class="list-inline-item">
        <button type="button" class="btn btn-sub">コンセプト</button>
      </li>
    </ul>
    <!-- Call to action -->
  </div>
  <!-- Footer Elements -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Ryo's Portfolio</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
{% endblock %}