{% extends 'app/base.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
  <link rel="stylesheet" href="{% sass_src 'css/create_profile.css' %}">
{% endblock customcss %}

{% block content %}
<div class="profile_back">
  <div class="create_page">
    <h2>Send Email</h2>
    <div class="profile_card">
      <div class="profile_contents">
        <div class="container my-5">
          <!--Section: Content-->
          <section class="text-center dark-grey-text mb-5 profile_card">
            <div class="card">
              <div class="card-body rounded-top border-top p-5 reset_password">
                <div class="image_icon">
                  <img src="https://d20r2glx6euv0l.cloudfront.net/avatar/6ebeed36dc.jpeg">
                </div>
                <!-- 本文 -->
                <p>パスワードリセット用のメールを送信しました。</p>
                <!-- 本文 -->
              </div>
            </div>
          </section>
          <!--Section: Content-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}





