{% extends 'app/base.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
  <link rel="stylesheet" href="{% sass_src 'css/create_profile.css' %}">
{% endblock customcss %}

{% block title %}パスワードリセット | Car Share {% endblock %}

{% block content %}
<div class="profile_back">
  <div class="create_page">
    <h2>{% if token_fail %}不正トークン{% else %}Reset Password{% endif %}</h2>
    <div class="profile_card">
      <div class="profile_contents">
        <div class="container my-5">
          <!--Section: Content-->
          <section class="text-center dark-grey-text mb-5 profile_card">
            <div class="card">
              <div class="card-body rounded-top border-top p-5 reset_password">
                <div class="image_icon image_margin">
                  <img src="https://d20r2glx6euv0l.cloudfront.net/avatar/6ebeed36dc.jpeg">
                </div>
                <!-- Section heading -->
                {% if token_fail %}
                  {% url 'account_reset_password' as passwd_reset_url %}
                  <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
                {% else %}
                  {% if form %}
                    <form class="mb-4 mx-md-5" method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
                      <div class="row">
                        <div class="col-md-12 mb-4">
                          <!-- Email -->
                          <input type="password" name="password1" id="id_password1" class="form-control" placeholder="新しいパスワード">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mb-4">
                          <!-- Email -->
                          <input type="password" name="password2" id="id_password2" class="form-control" placeholder="新しいパスワード（再入力）">
                        </div>
                      </div>
                      <div class="row login_button">
                        <div class="col-md-12">
                          <div class="text-center">
                            <button type="submit" class="btn">送信</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  {% else %}
                      <p>パスワードは変更されています。</p>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </section>
          <!--Section: Content-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}