{% extends 'app/base.html' %}
{% load static %}
{% load sass_tags %}

{% block customcss %}
  <link rel="stylesheet" href="{% sass_src 'css/create_profile.css' %}">
{% endblock customcss %}

{% block title %}パスワードリセット | Car Shere{% endblock %}

{% block content %}
<div class="profile_back">
  <div class="create_page">
    <h2>Reset Password</h2>
    <div class="profile_card">
      <div class="profile_contents">
        <div class="container my-5">
          <!--Section: Content-->
          <section class="text-center dark-grey-text mb-5 profile_card">
            <div class="card">
              <div class="card-body rounded-top border-top p-5 reset_password">
                <div class="image_icon">
                  <img src="https://d20r2glx6euv0l.cloudfront.net/avatar/6ebeed36dc.jpeg">
                </div>
                <!-- Section heading -->
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>パスワードリセット用メールを送信します。</p>
                <!-- Section description -->
                <form class="mb-4 mx-md-5" method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 mb-4">
                      <!-- Email -->
                      <input type="email" name="email" id="id_email" class="form-control" placeholder="Email">
                    </div>
                  </div>
                  <div class="row login_button">
                    <div class="col-md-12">
                      <div class="text-center">
                        <button type="submit" class="btn">送信</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </section>
          <!--Section: Content-->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}